@media print {
    @page {
        size: 8.5in 11in; /* Set the size to 8.5 inches by 11 inches */
        /* You can also use other size units like mm, cm, or pt */
        /* Example: size: 216mm 279mm; */
    }

    .myDivToPrint{
        margin: 0;
        color: #000;
        background-color: #fff;
        font-size: 14px;
        height: 100%;
    }
    
    .nprint{
        display: none;
    }
    header, footer, aside, nav, form, iframe, .menu, .hero, .adslot {
        display: none;
    }

    .report{
        margin: 0;
        padding: 0;
    }

    

}

.debug{
    border: 1px solid red;
}

@page{
    size: 8.5in 13in;
}

.report{
    margin-top: 25px;
    border: 1px solid black;
    padding: 5px;
}
.report-body{
    padding: 15px;
}

.report-header{
    background-color: black;
    color: white;
    padding: 5px 0;
}
.report-table {
    font-size: .9em;
}
.report-table tr{
    margin: 15px auto;
}

.report-table  tr th{
    padding: 10px;
    border: 1px solid rgb(197, 197, 197);

}


.report-table tr  td{
    text-align: left;
    border: 1px solid rgb(197, 197, 197);
    padding: 5px;
}

.print-title{
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

